/* src/App.css */
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Default Light Mode Colors */
:root {
  --background-color: #1E2A38;
  --text-color: #E0E0E0;
  --text-light-color: #bdc3c7;
  --border-color: #00B3E6;
  --button-hover-color: #66D9FF;
  --button-active-color: #008B8B;
  --navbar-color: #14233C;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

.container {
  background-color: var(--background-color);
}

nav {
  position: fixed;
  top: 1rem;
  left: 50%;
  width: 100%;
  width: 800px;
  border-radius: 50px;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: var(--navbar-color);
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 20px 5px;
  cursor: pointer;
}

nav ul li:hover {
  color: var(--button-hover-color);
  transition: all .3s;
}

nav ul li.active {
  color: var(--button-active-color);
  transition: all .3s;
}

.section {
  min-height: 100vh;
  padding-top: 100px;
  border-bottom: 1px solid var(--border-color);
}
/* 
#contact .section {
  min-height: 101vh;
} */

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: var(--secondary-color);
}
